{% extends 'base.html.twig' %}

{% block title %}Contactez nous!{% endblock %}

{% block monTitre %}
    Nouveau contact
{% endblock %}
{% block body %}
<div class="jumbotron">
    <form>
        <fieldset>
            <div class="form-group">
                <label for="exampleInputEmail1">Votre email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="exemple@hotmail.com">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleTextarea">Votre question</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Envoyez</button>
        </fieldset>
    </form>
    <p>Sinon vous pouvez envoyer un email directement à notre administrateur: admin-dta@hotmail.fr</p>
</div>
{% endblock %}
