{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block monTitre %}
    Accueil
{% endblock %}
{% block body %}
    <div class="jumbotron">
        <h1 class="display-3">Bonjour!</h1>
        <p class="lead">Vous adorez donner votre opinion, même quand personne ne vous l'a demandé?</p>
        <hr class="my-4">
        <p>Alors ce blog est fait pour vous! </p>
        <p>Aucune garantie que vous serez lu, mais bon c'est le risque quand on dit ce que l'on pense !</p>
    </div>
{% endblock %}
