*{

    margin:0;

    padding:0;

}

body, html{height:100%;}

body{

    text-align:center;

}

#main{

    min-height:100%;

    margin:0 auto;

    position:relative;

}


footer{
    background:#ccc;

    position:absolute;

    bottom:0;

    width:100%;

    padding-top:10px;

    height:10px;
    Z-index: -1;
}

