{% extends 'base.html.twig' %}

{% block title %}Ajouter un article{% endblock %}

{% block body %}
{% if app.request.attributes.get('_route') == 'profil_ajout_article' %}
    <h1>Modifier un article</h1>
{% else %}
    <h1>Ajouter un Article</h1>
{% endif %}
{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}

