{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block monTitre %}
    Tous les Articles
{% endblock %}
{% block body %}
    <div class="row no-gutters">

        {% for article in articles %}
            <div class="col-12 col-lg-6 p-1">
                <div class="card mb-3">
                    <h3 class="card-header"><a href="{{path('get_articles',{slug: article.slug })}}">{{ article.title }}</a></h3>
                    <div class="card-body">
                        <h5 class="card-title">Publié par: {{ article.user.username }}</h5>
                        <h6 class="card-subtitle text-muted">Dernière modification: {{ article.updateAt|date('d-m-Y')  ? article.createdAt|date('d-m-Y') }}</h6>
                    </div>
                    <img style="max-width: 100%; height: auto" src="{{ asset('upload/images/' ~ article.image) }}" class="card-img">
                    <div class="card-body">
                        {% for categorie in article.categories %}
                            <a href="#" class="card-link">{{ categorie.name }}</a>
                        {% endfor %}
                    </div>
                    <div class="card-footer text-muted">
                        Date de Publication: {{ article.createdAt|date('d-m-Y') }}
                        {% if article.vip %}
                           - Article Exclusif
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="navigation text-center">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}
