{% extends 'base.html.twig' %}
{% block title %}Ecrire un article{% endblock %}
{% block body %}
    <h1>Ecrire un article</h1>
    <div class="container">

        {{ form_start(formArticle) }}
            {{ form_widget(formArticle) }}
            <input type="submit" class="btn btn-primary" value="valider">
        {{ form_end(formArticle) }}
    </div>

{% endblock %}
