{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <div class="container text-center">
        <h1>{{ article.title }}</h1>
        <hr>
        <img style="max-width: 100%; height: auto" src="{{ asset('upload/images/' ~ article.image) }}" alt="{{ article.title }}>
        <hr>
        <p>{{ article.content }}</p>
        <p class="badge">Catégorie : </p>
        {% for category in article.categories %}
            <a href="{{ path('app_posts_by_category', { category: category.name}) }}"
               class="badge badge-pill">{{ category.name|capitalize }}</a>
        {% endfor %}
        <hr>
        <div class="col">
            <p>Publié le : {{ article.createdAt|date('d-m-Y') }} - Par : {{ article.user.username }}</p>
        </div>
        <hr>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="row justify-content-center">
                <a href="{{ path('update_article', { slug: article.slug }) }}" class="btn btn-dark mr-2">Modifier</a>
                <a href="{{ path('delete_article', { slug: article.slug, _csrf_token: csrf_token('delete_article')}) }}"
                   class="btn btn-secondary ml-2">Supprimer</a>
            </div>
            <hr>
        {% endif %}
        <section>
            <h2>Commentaire(s)</h2>
            <hr>
            {% for comment in comments|reverse %}
                <h4>{{ comment.user.username }}</h4>
                <div class="row">
                    <div class="col-md-10">
                        <p>{{ comment.content }}</p>
                        <hr>
                        <p>Par : {{ comment.user.username }} - Le : {{ comment.createdAt|date(('d-m-Y')) }}</p>
                    </div>
                    <hr>
                </div>
            {% endfor %}
            <hr>
            {% if is_granted('ROLE_USER') %}
                <h3>Ajouter un commentaire</h3>
                {{ form_start(formComment) }}
                {{ form_end(formComment) }}
            {% else %}
                <p class="text-center">Vous devez être connecté pour écrire un commentaire :
                    <a href="{{ path('login') }}" class="btn-sm btn btn-primary">Se connecter</a>
                    <a href="{{ path('logout') }}" class="btn-sm btn btn-secondary">S'enregistrer</a>
                </p>
            {% endif %}
        </section>
        <div class="pagination justify-content-center">
            {{ knp_pagination_render(comments) }}
        </div>
        <section class="lastpost" id="lastpost">
            <h2 class="mt-2">Dernières actualités</h2>
            <hr>
            <div class="row allCard">
                {% for article in articles %}
                    <div class="col-md-3 cardperso">
                        <img src="{{ asset('upload/images/' ~ article.image) }}" class="card-img">
                        <h5>{{ article.title|u.truncate(15, '...') }}</h5>
                        <hr>
                        {% if article.vip %}
                            <span class="text-center"><strong>Article exclusif </strong>
                                    <i class="fa fa-key"></i>
                                </span>
                        {% endif %}
                        <span>
                                <p class="badge badge-dark">{{ article.comments.count }} commentaire(s)</p>
                        </span>
                        <hr>
                        <div class="row justify-content-center">
                            {% if article.vip and not is_granted('ROLE_USER') %}
                                <a href="{{ path('login') }}" class="button button-grey">Se connecter</a>
                            {% else %}
                                <a href="{{ path('get_articles', {slug: article.slug}) }}"
                                   class="button button-grey">Voir
                                    plus</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
