{% extends 'nase.html.twig' %}

{% block title %}Modification du profil de {{ app.user.username }}{% endblock %}

{% block body %}
	<div class="grix xs4 container">
		<div class="col-xs4">
			<h1>Modification du profil de {{ app.user.username }}</h1>
            {{ form(form) }}
		</div>
	</div>
{% endblock %}
