{% extends 'base.html.twig' %}

{% block title %}Articles de {{ app.user.username }}{% endblock %}

{% block monTitre %}
   Mes Articles
{% endblock %}
{% block body %}
{% for article in app.user.articles %}
    <p>Titre : {{ article.title }}</p>
{% endfor %}
{% endblock %}
