{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block monTitre %}
    Profil
{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1 class="display-3 text-center">Profil de {{ app.user.username }}</h1>
    <hr class="my-4">

    <table class="table text-center">
        <tr>
            <td>Votre Email :</td>
            <td>{{ app.user.email }}</td>
        </tr>
    </table>
    <div class="jumbotron">
        <a href="{{ path('create_post')}}"
           class="btn btn-secondary ml-2">Créer un article</a>

    </div>

</div>
{% endblock %}
